doctype html 
html 
    head 
        title Static File MiddleWare 
    body 
        img(src='virat.jpg' , alt='Virat Kohli Picture')
        br
        a(href='blank.pdf', alt='PDF Download') PDF file Download

