h2{
    color: blue;
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
a{
    display: block;
    font-weight: bold;
    color: #ffffff;
    background:#0006CC;
    width: 200px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 10px;
}
a:visited{
    background: #ffffff;
    color: red;
}
a:hover{
    background: grey;
    color: #0006CC;
}
a:focus{
    background: #b3b3b3;
    color: #0006CC;
}
a:active{
    color: #ffffff;
    background:#42448d;
}
h3{
    font-weight: bold;
    color: teal;
}

div{
    display: inline-block;
    width: 10%;
    background: pink;
    text-align: center;
}
ol{
list-style-type: upper-roman;
}
ul{
list-style-type: square;
}