h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    color: #00FF00;
    background-color: #0000ff;
    text-align: center;

}
div{
    border: 3px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: darkred;
}
label{
    color:chocolate;
    font-family: 'Times New Roman', Times, serif;

}
button{
    border: 5px solid darkblue;
    border-radius: 1px;
    color: whitesmoke;
    background-color: darkmagenta;
    height: auto;
    width: auto;

}
